/*body {
    color: #3FA7D6;
    font-family: "Fjalla One", Arial;
}

form {
    line-height: 25px;
}

input {
    border-radius: 40px;
}

h1 {
    font-size: 3em;
    overflow: break;
}

.overlay {
    display: block;
}
*/

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    margin-top: 30%;
}

form>input {
    border-radius: 40px;
    font-size: 20px;
}

.overlay {
    text-align: center;
}

nav ul {
    display: inline;
    text-align: right;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: blue;
}

#otherPages a {
    text-decoration: none;
}

ul a {
    float: right;
    text-decoration: none;
    margin-top: 10px;
    font-size: 26px;
}

form h1 {
    font-size: 60px;
}

#back {
    float: right;
    text-decoration: none;
    margin-top: 10px;
    font-size: 26px;
}

ul a {
    margin-right: 10px;
}