/*body {
    color: #3FA7D6;
    font-family: "Fjalla One", Arial;
}

form {
    line-height: 25px;
}

input {
    border-radius: 40px;
}

h1 {
    font-size: 3em;
    overflow: break;
}

.overlay {
    display: block;
}
*/

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
    margin-top: 30%;
}

input {
    border-radius: 40px;
    font-size: 30px;
}

.overlay {
    text-align: center;
}

#otherPages {
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

#otherPages a {
    text-decoration: none;
}