.grid {
    display: inline-grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
    text-align: center;
}

flex {}

@mediaquery {}

twitter bootstrap {}